@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Livvic&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Livvic', sans-serif;
}

@media only screen and (max-width: 325px) {
  .coffeecup {
    width: 50%; 
    transform: translate(-50%, 40%) !important;
  } 
  .minusButton {
    transform: translate(-50%, 300%) !important;
    font-size: 16px !important;
  }
  .menu__btn{
    font-size: 16px !important;
  }
  .menu{
    transform: translate(0%, 0%) !important;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  background-color: #778beb;
  width: 100vw;
  height: 100vh;
}

.logo {
  text-align: center;
  color: #3DC1D3;
  padding-top: 1em;
  font-size: 46px; 
  font-weight: 700;
}

.coffeecupcontainer {
  margin: auto;
  width: 100%;
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.coffeecup {
  margin-left: 2%;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);}

  

.counterText{
  width: 100vw;
  color: #c44569;
  text-align: center;
  margin: 25px 0;
  font-size: 26px; 
  font-family: 'Fira', sans-serif;
  font-weight: 900;
}

.firstCoffee{
  position: relative;
  color: white;
  text-align: center;
  background-color: #e15f41;
  font-weight: bolder;
  padding: 6px 0;
  bottom: 35%;
}

.minusButton {
  /* display: block; */
  /* margin: 0 auto; */
  width: 35%;
  /* background-color: #c70f43; */
  background-color: #E15F41;
  color: white;
  height: 60px;
  border: 0px transparent;
  border-radius: 50px;
  font-size: 20px;
  position: fixed;
  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 350%);
}

.buttoncontainer {
  display: inline;
}

.MuiButton-label {
  color: white;
}
.MuiButtonBase-root {
  background-color: #e15f41;
}

.menu {
  width: 100vw;
  /* height: 60vh; */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: flex-end;
  position: fixed;
  bottom: 4%;
  /* left: 50%; */
  /* bring your own prefixes */
  transform: translate(0%, -50%);
}

.menu__btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* background-color: #c70f43; */
  background-color: #f5cd79;
  color: white;
  height: 60px;
  border: 0px transparent;
  border-radius: 50px;
  font-size: 20px;
  border-style: none;
  margin: 0 20px;
}