.App {
  text-align: center;
  /* background-color: #778BEB;
  width: 100%;
  height: 100%; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  background-color: #778beb;
  width: 100vw;
  height: 100vh;
}

.logo {
  text-align: center;
}

.coffeecupcontainer {
  margin: auto;
  width: 100%;
  height: 50vh;
}

.coffeecup {
  height: 50%;
  top: 50%;
  display: block;
  padding: 17% 0;
  margin: 0 auto;
  margin-left: 20%;
}

.minusButton {
  display: block;
  margin: 0 auto;
  width: 30%;
  /* background-color: #c70f43; */
  background-color:#631526;
  color: white;
  height: 60px;
  border: 0px transparent;
  border-radius:50px;
  font-size: 20px;
  border-style: none;
}

.buttoncontainer {
  display: inline;
}

.MuiButton-label {
  color: white;
}
.MuiButtonBase-root {
  background-color: #e15f41;
}

.menu {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 15vw;
  margin: 0 auto;
}
