@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Livvic&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Livvic", sans-serif;
}

@-webkit-keyframes loginsucces {
  25% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loginsucces {
  25% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 374px) {
  .coffeecup {
    width: 50%;
    transform: translate(-50%, 70%) !important;
  }
  .minusButton {
    transform: translate(-50%, 300%) !important;
    font-size: 16px !important;
  }
  .menu__btn {
    font-size: 16px !important;
  }
  .coffee__btn {
    font-size: 16px !important;
  }
  .menu {
    transform: translate(0%, 0%) !important;
  }
  .coffeemenu {
    transform: translate(0%, 20vh) !important;
  }
  .logo {
    font-size: 32px !important;
  }
  .counterText {
    font-size: 18px !important;
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.screen {
  background-color: #778beb;
  width: 100vw;
  height: 100vh;
}

.logo {
  text-align: center;
  color: #3dc1d3;
  padding-top: 0.5em;
  font-size: 38px;
  font-weight: 700;
}

.coffeecupcontainer {
  margin: auto;
  width: 100%;
  position: fixed;
  top: 35%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.coffeecup {
  margin-left: 2%;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 20%);
}

.counterText {
  width: 100vw;
  color: #c44569;
  text-align: center;
  margin: 15px 0;
  font-size: 26px;
  font-family: "Fira", sans-serif;
  font-weight: 900;
}

.loginsucces {
  position: relative;
  color: white;
  text-align: center;
  background-color: #3dc1d3;
  font-weight: bolder;
  padding: 6px 0;
  /* bottom: 50%;   */
  -webkit-animation-name: loginsucces;
  -moz-animation-name: loginsucces;
  animation: loginsucces 3s forwards;
}
.firstCoffee {
  position: relative;
  color: white;
  text-align: center;
  background-color: #e15f41;
  font-weight: bolder;
  padding: 4px 0;
  /* bottom: 50%;   */
}

.minusButton {
  /* display: block; */
  /* margin: 0 auto; */
  width: 35%;
  /* background-color: #c70f43; */
  background-color: #e15f41;
  color: white;
  height: 60px;
  border: 0px transparent;
  border-radius: 50px;
  font-size: 20px;
  position: fixed;
  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, 350%);
}

.buttoncontainer {
  display: inline;
}

.MuiButton-label {
  color: white;
}
.MuiButtonBase-root {
  background-color: #e15f41;
}

.coffeemenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  width: 80vw;
  margin: 7vh auto;
  transform: translate(0%, 30vh);
}
.menu {
  width: 100vw;
  /* height: 60vh; */
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-content: flex-end;
  position: fixed;
  bottom: 4%;
  /* left: 50%; */
  /* bring your own prefixes */
  transform: translate(0%, -50%);
}

.coffee__btn {
  display: block;
  margin: 0 auto;
  background-color: #f5cd79;
  color: white;
  height: 40px;
  width: 100%;
  border: 0px transparent;
  border-radius: 50px;
  font-size: 20px;
  border-style: none;
}

.menu__btn {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* background-color: #c70f43; */
  background-color: #f5cd79;
  color: white;
  height: 60px;
  border: 0px transparent;
  border-radius: 50px;
  font-size: 20px;
  border-style: none;
  margin: 0 20px;
}
